.custom-navbar{
    background-color: #31352E;
}

.matcha-color{
    background-color: #D1E2C4;
}

.olive-color{
    color: #31352E;
}

.btn-custom {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #31352E;
    background-color: #778A35; /* Green background */
    border: none;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-custom:hover {
    background-color: #D1E2C4; /* Darker green on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
}


.custom-hr {
    border: 0;                
    height: 10px;             
    border-radius: 5px;      
    background-color: #778A35; 
    margin: 20px 0;           
    margin-left: 10px;
    margin-right: 10px;
}

.carousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
    z-index: 1050; /* Ensure it appears above other content */
  }

  .carousel-inner {
    height: 100%;
  }

  .carousel-item img {
    height: 100%;
    object-fit: cover; /* Ensure images cover the container */
  }
  