* {
    padding: 0;
    margin: 0;
}

#Background {
    position: relative;
}

#Background img {
    width: 100%;
}

#navbar {
    position: relative; /* Change to relative */
    z-index: 1000;
    margin-left: 50vw;
    
}

.menu-3 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    font-size: 20pt;
}

.menu-3 li {
    width: 150px;
    height: 50px;
    transition: background-position-x 0.6s linear;
    text-align: center;
}

.menu-3 li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.45s;
}

.menu-3 li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    -webkit-animation: line 1s;
            animation: line 1s;
}

.menu-3 li:hover a {
    color: #4fd7d9;
}

.menu-3 li:not(:last-child) {
    margin-right: 30px;
}

@-webkit-keyframes line {
    0% {
        background-position-x: 390px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}

body {
    background: url(/img/background.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0; /* Ensure no default margin */
    padding: 0; /* Ensure no default padding */
}


#main{
    margin-top: 110vh;
}

.article {
    max-width: 600px;
    margin: 40px auto;
    background-color: #95d1f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.article:hover {
    transform: scale(1.05);
}

.article img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.article-content {
    padding: 20px;
}

.article-content h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.article-content p {
    color: #666;
    font-size: 16px;
    line-height: 1.6;
}

